body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#111;
  color:white;
  text-align:center;
}

header{
  background:gold;
  color:black;
  padding:15px;
  font-size:22px;
  font-weight:bold;
}

.container{
  padding:20px;
}

.card{
  background:#1e1e1e;
  margin:15px auto;
  padding:20px;
  border-radius:12px;
  width:90%;
  max-width:400px;
  box-shadow:0 0 15px gold;
}

input, button{
  padding:10px;
  margin:10px;
  border:none;
  border-radius:6px;
}

button{
  background:gold;
  font-weight:bold;
  cursor:pointer;
}